body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./rsc/beer.jpg);
    cursor: none;
}

h1{
    color: #333;
    text-align: center;
    margin-top: 50px;
}

#timer {
    color: #333;
    text-align: center;
    font-size: 15vw;
    margin-top: 50px;
    margin-bottom: 0;
    text-shadow: 0 0 10px rgba(255, 204, 0, 0.8), /* Bright yellow inner glow */
    0 0 20px rgba(255, 204, 0, 0.6), /* Medium yellow glow */
    0 0 30px rgba(255, 204, 0, 0.4); /* Faint yellow outer glow */
    font-variant-numeric: tabular-nums;
}

#event{
    color: #333;
    text-align: center;
    font-size: 5vw;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(255, 204, 0, 0.8), /* Bright yellow inner glow */
    0 0 20px rgba(255, 204, 0, 0.6), /* Medium yellow glow */
    0 0 30px rgba(255, 204, 0, 0.4); /* Faint yellow outer glow */
}

#nextEvent{
    color: #696969;
    text-align: center;
    font-size: 2vw;
    margin-top: 0;
    text-shadow: 0 0 10px rgba(255, 204, 0, 0.8), /* Bright yellow inner glow */
    0 0 20px rgba(255, 204, 0, 0.6), /* Medium yellow glow */
    0 0 30px rgba(255, 204, 0, 0.4); /* Faint yellow outer glow */
}

canvas#chart {
    background-color: rgb(255, 252, 240); /* Set a solid white background */
    border: 10px solid #333; /* Optional: Add a border for better visibility */
    border-radius: 30px; /* Optional: Add rounded corners */
    margin: 150px 100px 0 100px;
    height: 100px;
}